<% if(response_data.wiki_data!="" && response_data.wiki_data){ %>
    <div class="element-container text-shadow col">
      <h2><%=response_data.location_info.town%>, <%=response_data.location_info.state%> Information</h2>
      <div class="wiki-data closed col">
        <%for(var i=0; i<response_data.wiki_data.length; i++){%>
          <p>&emsp;&emsp;<%= response_data.wiki_data[i] %></p>
        <%}%>

      </div>
      <div class="show-more-btn" onclick="handleClick(event)">Show more information</div>
    </div>

  <%}%>
