body, html{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}


.navbar{
  position:fixed;
  width:100%;
  padding-left:20px;
  z-index:999;
}



.center{
  display:flex;
  align-items: center;
  justify-content: center;
}


.my-container{
  height:100%;
}


.main-container{
  height:100%;
  width:100%;
}



/*
        FORMATTING FOR THE WIKIPEDIA INFORMATION
*/
.wiki-data{
  display:flex;
  align-items: flex-start;
}

.wikipedia-data p{
  background-color: blue;
}


.element-container{
  display:flex;
  flex-direction: column;
  background-color:#292b2c;
  width:600px;
  color:white;
  padding:1rem 2rem;
  margin:1rem;
}

.element-container h1{

  color:white;
}

.closed{
  overflow:hidden;
  max-height:300px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.shown{
  overflow-x: auto;
  max-height:700px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.col{
  flex-direction: column;
}

.show-more-btn{
  color:#5bc0de;
  padding:.5rem;
  text-align: center;
}

.show-more-btn a{
  color:#5bc0de;
}

.weather-temp-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.weather-temp-container h1{
  padding-top:4rem;
}

.weather-temp{
  font-size: 7rem;
}

.weather-desc{
  margin:2rem;

  display:flex;
  flex-direction: column;
}


.list-group{
  z-index:0;
}
