body, html{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-attachment: fixed;
  /*
    Background image from: https://pixabay.com/photos/clouds-cumulus-sky-nature-2329680/

    Citation:
    Vetsikas, Dimitris. clouds-cumulus-sky-nature-2329680. 2017. pixabay, https://pixabay.com/photos/clouds-cumulus-sky-nature-2329680/

    Image by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2329680">Dimitris Vetsikas</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2329680">Pixabay</a>

  */
  background-image: url("../assets/clouds-2329680.jpg");
  background-size:cover;
}



/*
HTML element styling
*/


a{
  color: #0dcaf0;
  text-decoration: none;
}



h1{
  font-weight:bold;
  color:white;
}



h2{
  font-weight:bold;
  text-shadow: 0 0 5px #000;
  font-size:2rem;
  color:white;
}



.text-shadow{
  text-shadow: 0 0 5px #000;
}



.error-msg{
  color:red;
}



/*
Flex centering classes
*/


.center{
  display:flex;
  align-items: center;
  justify-content: center;
}



.col{
  flex-direction: column;
}



.row{
  flex-direction: row;
}



.space-between{
  justify-content: space-between;
}



.center-text{
  text-align: center;
}



.my-container{
  padding:100px;
  height:100%;
}



/*
Header
*/

.navbar{
  position:fixed;
  width:100%;
  padding-left:20px;
  z-index:999;
}



/*
footer
*/

.citation-footer{
  position: fixed;
  bottom:0;
  width:100%;
  background-color:#292b2c;
  color:white;
  padding:.4rem;
}



/*
        FORMATTING FOR THE WIKIPEDIA INFORMATION
*/


.wiki-data{
  align-items: flex-start;
}



.element-container{
  background: rgba(41, 43, 44, .9);
  border-radius: 7px;
  width:600px;
  color:white;
  padding:2rem 3rem;
  margin-bottom: 50px;
}


/*
  For the open and close show more information buttons
*/


.closed{
  overflow:hidden;
  max-height:293px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


.shown{
  overflow-x: auto;
  max-height:700px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}



.show-more-btn{
  color:#0dcaf0;
  padding:.5rem;
}


/*
individual element styling / other
*/


.weather-temp-container h1{
  padding-top:4rem;
}


.weather-temp{
  margin-top:-65px;
  font-size: 5rem;
}



.list-group{
  z-index:0;
}
