body, html{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-attachment: fixed;
  /*
    Background image from: https://pixabay.com/photos/clouds-cumulus-sky-nature-2329680/

    Citation:
    Vetsikas, Dimitris. clouds-cumulus-sky-nature-2329680. 2017. pixabay, https://pixabay.com/photos/clouds-cumulus-sky-nature-2329680/

    Image by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2329680">Dimitris Vetsikas</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2329680">Pixabay</a>

  */
  background-image: url("../assets/clouds-2329680.jpg");
  background-size:cover;
}


.navbar{
  position:fixed;
  width:100%;
  padding-left:20px;
  z-index:999;
}


.citation-footer{
  position: fixed;
  bottom:0;
  width:100%;
  background-color:#292b2c;
  color:white;
  text-align: center;
  padding:.4rem;
}


.citation-footer a{
  color: #0dcaf0;
  text-decoration: none;
}


.center{
  display:flex;
  align-items: center;
  justify-content: center;
}


.my-container{
  padding:100px;
  height:100%;
}


.main-container{
  height:100%;
  width:100%;
}



/*
        FORMATTING FOR THE WIKIPEDIA INFORMATION
*/


.wiki-data{
  display:flex;
  align-items: flex-start;
}


.wikipedia-data p{
  background-color: blue;
}


.element-container{
  display:flex;
  flex-direction: column;
  background-color:#292b2c;
  width:600px;
  color:white;
  padding:2rem 3rem;
  margin-bottom: 100px;
}


.element-container h1{

  color:white;
}


.closed{
  overflow:hidden;
  max-height:300px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


.shown{
  overflow-x: auto;
  max-height:700px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


.col{
  flex-direction: column;
}


.show-more-btn{
  color:#0dcaf0;
  padding:.5rem;
  text-align: center;
}


.show-more-btn a{
  color:#5bc0de;
}


.weather-temp-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.weather-temp-container h1{
  padding-top:4rem;
}


.weather-temp{
  font-size:4rem;
  font-size: 7rem;
}


.loc-name{
  font-size:3rem;
  color:white;
}


.weather-desc{
  margin:2rem;

  display:flex;
  flex-direction: column;
}


.list-group{
  z-index:0;
}
