<%- include ("../partials/header") %>

    <!-- content-->
    <div class="my-container center">
      <form id="my-form" method="POST" action="/">
        <div class="col-auto w-100 input-group mb-3">
          <input required type="text" name="userLoc" class="form-control" id="userLoc" placeholder="Please enter location...">
          <button type="submit" class="btn btn-dark">Search</button>

        </div>
        <div class="mb-3">
            <% if(message){ %>
                <%= message %>
            <% } %>
        </div>
      </form>
    </div>

<%- include ("../partials/footer") %>
